@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-des-blue: hsl(238, 22%, 44%);
  --accent-bright-blue: hsl(224, 93%, 58%);
  --accent-mod-cyan: hsl(170, 45%, 43%);
  --neatural-light-blue: hsl(240, 75%, 98%);
  --neatural-light-gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px 0 100px;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-des-blue);
}

.nav-link:not(:last-child) {
  margin-right: 32px;
}

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80vh;
  align-items: center;
  gap: 48px;
  padding: 60px 80px;
}

.main-heading {
  font-size: 48px;
  color: var(--primary-dark-blue);
  margin-bottom: 32px;
  font-weight: 700;
}

.hero-text {
  font-size: 18px;
  margin-right: 160px;
  color: var(--primary-dark-blue);
  margin-bottom: 28px;
}

.hero-img {
  width: 100%;
  height: 100%;
  padding-right: 60px;
}

.cta {
  display: flex;
}

.cta-input {
  padding: 9px;
  width: 300px;
  margin-right: 24px;
}

.cta-link:link,
.cta-link:visited {
  text-decoration: none;
  padding: 9px 60px;
  color: #fff;
  background-color: var(--accent-bright-blue);
}

.cta-link:active {
  background-color: var(--primary-des-blue);
}

.features {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 48px;
  padding: 150px 80px 80px 80px;
  background-image: url(images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.secondary-heading {
  font-size: 42px;
  color: var(--primary-dark-blue);
  margin-bottom: 32px;
}

.feature-img {
  width: 100%;
  height: 100%;
}

.features-text {
  font-size: 16px;
  color: var(--primary-dark-blue);
  margin-right: 180px;
  margin-bottom: 18px;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--accent-mod-cyan);
  padding-bottom: 4px;
  max-width: 210px;
  margin-bottom: 52px;
}

.features-link:link,
.features-link:visited {
  font-size: 20px;
  color: var(--accent-mod-cyan);
  text-decoration: none;
}

.arrow-icon {
  height: 20px;
}

.testimonial-box {
  max-width: 370px;
  background-color: #fff;
  padding: 30px 40px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

.icon-quotes {
  height: 18px;
  margin-bottom: 12px;
  stroke: var(--primary-dark-blue);
}

.testimonial-text {
  line-height: 1.7;
  font-size: 14px;
  margin-bottom: 18px;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-img {
  height: 45px;
  border-radius: 50%;
}

.user-name {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-dark-blue);
}

.user-job {
  font-size: 12px;
}

.access {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 80px;
  background-color: var(--primary-des-blue);
  color: #fff;
}

.heading-tertiary {
  font-size: 28px;
  margin-bottom: 32px;
  font-weight: 600;
}

.access-text {
  font-size: 14px;
  line-height: 1.7;
  margin-right: 270px;
}

.access-cta {
  display: flex;
  flex-direction: column;
}

.access-input {
  border: none;
  width: 500px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.access-link:link,
.access-link:visited {
  display: block;
  text-decoration: none;
  color: #fff;
  width: 200px;
  padding: 10px 20px;
  text-align: center;
  background-color: var(--accent-bright-blue);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.footer {
  color: #fff;
  padding: 80px;
  background-color: var(--primary-dark-blue);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #fff;
}

li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-logo {
  margin-bottom: 32px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.phone-icon,
.email-icon {
  margin-right: 22px;
}

.phone,
.email {
  display: flex;
}

.social-icons svg {
  height: 30px;
  fill: #fff;
}

.social-icons {
  display: flex;
  gap: 12px;
}

/* Tablet styles */
@media only screen and (max-width: 1024px) {
  .header {
    padding: 40px 80px 0 80px;
  }

  .hero {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 40px 60px;
  }

  .hero-text {
    margin-right: 0;
  }

  .cta-input {
    width: 100%;
    margin-right: 0;
  }

  .cta-link {
    padding: 9px 40px;
  }

  .features {
    padding: 100px 60px 60px 60px;
  }

  .features-text {
    margin-right: 0;
  }

  .testimonial-box {
    max-width: none;
  }

  .access {
    gap: 60px;
    padding: 60px;
  }

  .access-text {
    margin-right: 0;
  }

  .access-input {
    width: 100%;
  }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
  .header {
    padding: 30px 40px 0 40px;
  }

  .hero {
    padding: 30px 40px;
  }

  .hero-text,
  .cta-input {
    margin-right: 0;
  }

  .cta-input {
    width: 100%;
    margin-bottom: 16px;
  }

  .cta-link {
    padding: 9px 20px;
  }

  .features {
    padding: 80px 40px 40px 40px;
  }

  .features-text,
  .access-text {
    margin-right: 0;
  }

  .access {
    gap: 40px;
    padding: 40px;
  }

  .access-input {
    width: 100%;
  }

  .footer {
    padding: 40px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}
